In [1]:
# Import
import pandas as pd
from pathlib import Path

In [2]:
# Read in CSV histoical data file from Tether_pairs which was downloaded from CryptoDataDownload.com

# ID coin and exchange variables
coin = "XRP"
exchange = "Binance"

df = pd.read_csv(Path(f"./USD_pairs/{exchange}/{exchange}_{coin}USDT_d.csv"), parse_dates= True, infer_datetime_format = True)
df.head()

                                                                                         https://www.CryptoDataDownload.com
Unix          Date       Symbol  Open   High   Low    Close  Volume ADA  Volume USDT                             tradecount
1673308800000 2023-01-10 ADAUSDT 0.3168 0.3253 0.3063 0.3222 184082448.1 58443335.34537                              111866
1673222400000 2023-01-09 ADAUSDT 0.2975 0.346  0.2955 0.3168 405177005.9 130535883.67986                             289600
1673136000000 2023-01-08 ADAUSDT 0.2768 0.299  0.2742 0.2974 196047722.8 56211406.76293                              115112
1673049600000 2023-01-07 ADAUSDT 0.2785 0.2806 0.2723 0.2768 72623368.2  20043246.99803                               43840

In [3]:
df = df.reset_index()
df

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,https://www.CryptoDataDownload.com
0,Unix,Date,Symbol,Open,High,Low,Close,Volume ADA,Volume USDT,tradecount
1,1673308800000,2023-01-10,ADAUSDT,0.3168,0.3253,0.3063,0.3222,184082448.1,58443335.34537,111866
2,1673222400000,2023-01-09,ADAUSDT,0.2975,0.346,0.2955,0.3168,405177005.9,130535883.67986,289600
3,1673136000000,2023-01-08,ADAUSDT,0.2768,0.299,0.2742,0.2974,196047722.8,56211406.76293,115112
4,1673049600000,2023-01-07,ADAUSDT,0.2785,0.2806,0.2723,0.2768,72623368.2,20043246.99803,43840
...,...,...,...,...,...,...,...,...,...,...
1725,1524268800000,2018-04-21,ADAUSDT,0.30161,0.307,0.26509,0.28668,92719842.91,26539390.1272096,55256
1726,1524182400000,2018-04-20,ADAUSDT,0.27004,0.30442,0.26648,0.30108,71084276.49,20270887.7035135,46506
1727,1524096000000,2018-04-19,ADAUSDT,0.26199,0.275,0.25777,0.27004,50859980.22,13609907.8997887,32600
1728,1524009600000,2018-04-18,ADAUSDT,0.2426,0.2646,0.24201,0.262,31328095.79,7922134.2830433,21684
1729,1523923200000,2018-04-17,ADAUSDT,0.25551,0.288,0.23983,0.2426,67462293.24,17411823.5715796,42568

In [4]:
# reformat the dataframe to set column names, drop unnecessary rows and columns, move Datetime column to index

df.rename(columns = {"level_0":"Unix", "level_1": "Datetime", "level_2": "Symbol_Pair",
                        "level_3": "Open", "level_4": "High", "level_5": "Low", "level_6": "Close",
                        "level_7": f"Volume_in_{coin}", "level_8": "Volume_USDT", "https://www.CryptoDataDownload.com": "Tradecount"},
              inplace = True)
df = df.drop([0,1], axis=0)
df = df.drop(["Unix"], axis=1)
df = df.set_index("Datetime")

In [5]:
# change index to dtype datetime
df.index = pd.to_datetime(df.index)

# Insert column for exchange name
df.insert(loc=0, column = "Exchange", value= f"{exchange}")

In [6]:
display(df.head(5))
df.tail()

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_ADA,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2023-01-09,Binance,ADAUSDT,0.2975,0.346,0.2955,0.3168,405177005.9,130535883.67986,289600
2023-01-08,Binance,ADAUSDT,0.2768,0.299,0.2742,0.2974,196047722.8,56211406.76293,115112
2023-01-07,Binance,ADAUSDT,0.2785,0.2806,0.2723,0.2768,72623368.2,20043246.99803,43840
2023-01-06,Binance,ADAUSDT,0.2692,0.2798,0.2671,0.2786,171198727.6,46709200.59142,91513
2023-01-05,Binance,ADAUSDT,0.2678,0.2713,0.2633,0.2692,81943632.6,21875835.63976,50246

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_ADA,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2018-04-21,Binance,ADAUSDT,0.30161,0.307,0.26509,0.28668,92719842.91,26539390.1272096,55256
2018-04-20,Binance,ADAUSDT,0.27004,0.30442,0.26648,0.30108,71084276.49,20270887.7035135,46506
2018-04-19,Binance,ADAUSDT,0.26199,0.275,0.25777,0.27004,50859980.22,13609907.8997887,32600
2018-04-18,Binance,ADAUSDT,0.2426,0.2646,0.24201,0.262,31328095.79,7922134.2830433,21684
2018-04-17,Binance,ADAUSDT,0.25551,0.288,0.23983,0.2426,67462293.24,17411823.5715796,42568

In [7]:
# check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1728 entries, 2023-01-09 to 2018-04-17
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exchange       1728 non-null   object
 1   Symbol_Pair    1728 non-null   object
 2   Open           1728 non-null   object
 3   High           1728 non-null   object
 4   Low            1728 non-null   object
 5   Close          1728 non-null   object
 6   Volume_in_ADA  1728 non-null   object
 7   Volume_USDT    1728 non-null   object
 8   Tradecount     1728 non-null   object
dtypes: object(9)
memory usage: 135.0+ KB

In [8]:
# change data type to float
columns = ['Open', 'High', 'Low', 'Close', f'Volume_in_{coin}', 'Volume_USDT', 'Tradecount']
for c in columns:
    df = df.astype({c: float})

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1728 entries, 2023-01-09 to 2018-04-17
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exchange       1728 non-null   object
 1   Symbol_Pair    1728 non-null   object
 2   Open           1728 non-null   float64
 3   High           1728 non-null   float64
 4   Low            1728 non-null   float64
 5   Close          1728 non-null   float64
 6   Volume_in_ADA  1728 non-null   float64
 7   Volume_USDT    1728 non-null   float64
 8   Tradecount     1728 non-null   float64
dtypes: float64(7), object(2)
memory usage: 135.0+ KB

In [10]:
# check for null values
df.isna().sum().sum()

0

In [11]:
# slice data from 2021 & 2022
df = df.loc['2021-01-01':'2022-12-27']
display(df.head())
df.tail()

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_ADA,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2022-12-27,Binance,ADAUSDT,0.2653,0.2665,0.2563,0.2603,59557924.7,1.556461e+07,36071.0
2022-12-26,Binance,ADAUSDT,0.2590,0.2657,0.2576,0.2652,61775474.3,1.614048e+07,35406.0
2022-12-25,Binance,ADAUSDT,0.2591,0.2599,0.2546,0.2591,46627019.2,1.200893e+07,28303.0
2022-12-24,Binance,ADAUSDT,0.2594,0.2604,0.2566,0.2592,32054310.5,8.287131e+06,22102.0
2022-12-23,Binance,ADAUSDT,0.2567,0.2640,0.2554,0.2594,74119327.5,1.920065e+07,46556.0

,Exchange,Symbol_Pair,Open,High,Low,Close,Volume_in_ADA,Volume_USDT,Tradecount
Datetime,,,,,,,,,
2021-01-06,Binance,ADAUSDT,0.25889,0.34772,0.25347,0.33309,2.059110e+09,6.117157e+08,893919.0
2021-01-05,Binance,ADAUSDT,0.22518,0.26429,0.20696,0.25873,1.478888e+09,3.497091e+08,614385.0
2021-01-04,Binance,ADAUSDT,0.20625,0.23992,0.19203,0.22528,1.463416e+09,3.152995e+08,548636.0
2021-01-03,Binance,ADAUSDT,0.17740,0.20960,0.17255,0.20615,1.201451e+09,2.308346e+08,403926.0
2021-01-02,Binance,ADAUSDT,0.17505,0.18457,0.16793,0.17742,6.603033e+08,1.170773e+08,231432.0

In [12]:
# make a copy of new dataframe and export to Data file for use in ML models
df_export = df.copy()
df_export.to_csv(f'./Data/{exchange}/21-22{exchange}_{coin}_d.csv')