In [1]:
# Import
import pandas as pd
from pathlib import Path

In [2]:
coin = "BTC"

In [3]:
# Read in CSV file with Exchange-Coin data
df = pd.read_csv(Path(f"./USD_pairs/Coinbase/daily/Coinbase_{coin}USD_dailydata.csv"), parse_dates= True, infer_datetime_format = True)
df.head()

,unix,low,high,open,close,volume,date,vol_fiat
0,1672099200,16836.64,16967.00,16916.66,16858.68,2331.049727,2022-12-27,3.929842e+07
1,1672012800,16787.97,16939.81,16829.19,16917.96,8493.276612,2022-12-26,1.436889e+08
2,1671926400,16720.89,16853.88,16837.24,16829.02,7065.216566,2022-12-25,1.189007e+08
3,1671840000,16775.88,16863.62,16777.88,16837.12,9502.803207,2022-12-24,1.599998e+08
4,1671753600,16719.57,16943.29,16815.28,16777.21,21958.886977,2022-12-23,3.684089e+08

In [4]:
# reformat the dataframe to include OHLCV data for years 2021-2022
df.insert(loc=0, column = "Exchange", value = "Coinbase") 
df.insert(loc=1, column = "Symbol_Pair", value = f"{coin}/USD") 
df.rename(columns = {"unix":"Unix", "low": "Low", "high": "High",
                        "open": "Open", "close": "Close", "volume": f"Volume_in_{coin}", "date": "Datetime",
                        "vol_fiat": "Volume_USD"},
              inplace = True)

df = df.drop(["Unix"], axis=1)
df = df.set_index("Datetime")

In [5]:
df.index = pd.to_datetime(df.index)

In [6]:
display(df.head(5))
df.tail()

,Exchange,Symbol_Pair,Low,High,Open,Close,Volume_in_BTC,Volume_USD
Datetime,,,,,,,,
2022-12-27,Coinbase,BTC/USD,16836.64,16967.00,16916.66,16858.68,2331.049727,3.929842e+07
2022-12-26,Coinbase,BTC/USD,16787.97,16939.81,16829.19,16917.96,8493.276612,1.436889e+08
2022-12-25,Coinbase,BTC/USD,16720.89,16853.88,16837.24,16829.02,7065.216566,1.189007e+08
2022-12-24,Coinbase,BTC/USD,16775.88,16863.62,16777.88,16837.12,9502.803207,1.599998e+08
2022-12-23,Coinbase,BTC/USD,16719.57,16943.29,16815.28,16777.21,21958.886977,3.684089e+08

,Exchange,Symbol_Pair,Low,High,Open,Close,Volume_in_BTC,Volume_USD
Datetime,,,,,,,,
2022-03-07,Coinbase,BTC/USD,37161.88,39556.58,38406.82,37994.00,19544.284149,7.425655e+08
2022-03-06,Coinbase,BTC/USD,38091.02,39730.50,39407.87,38408.38,10099.985452,3.879241e+08
2022-03-05,Coinbase,BTC/USD,38587.27,39600.00,39166.50,39402.43,8440.516389,3.325769e+08
2022-03-04,Coinbase,BTC/USD,38577.01,42524.87,42464.41,39166.51,24080.605994,9.431533e+08
2022-03-03,Coinbase,BTC/USD,41811.00,44096.45,43916.47,42464.41,19278.282247,8.186409e+08

In [7]:
# check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 300 entries, 2022-12-27 to 2022-03-03
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Exchange       300 non-null    object
 1   Symbol_Pair    300 non-null    object
 2   Low            300 non-null    float64
 3   High           300 non-null    float64
 4   Open           300 non-null    float64
 5   Close          300 non-null    float64
 6   Volume_in_BTC  300 non-null    float64
 7   Volume_USD     300 non-null    float64
dtypes: float64(6), object(2)
memory usage: 21.1+ KB

In [8]:
df.isna().sum().sum()

0

In [9]:
df.shape

(300, 8)

In [10]:
df = df.loc['2022']
display(df.head())
df.tail()

,Exchange,Symbol_Pair,Low,High,Open,Close,Volume_in_BTC,Volume_USD
Datetime,,,,,,,,
2022-12-27,Coinbase,BTC/USD,16836.64,16967.00,16916.66,16858.68,2331.049727,3.929842e+07
2022-12-26,Coinbase,BTC/USD,16787.97,16939.81,16829.19,16917.96,8493.276612,1.436889e+08
2022-12-25,Coinbase,BTC/USD,16720.89,16853.88,16837.24,16829.02,7065.216566,1.189007e+08
2022-12-24,Coinbase,BTC/USD,16775.88,16863.62,16777.88,16837.12,9502.803207,1.599998e+08
2022-12-23,Coinbase,BTC/USD,16719.57,16943.29,16815.28,16777.21,21958.886977,3.684089e+08

,Exchange,Symbol_Pair,Low,High,Open,Close,Volume_in_BTC,Volume_USD
Datetime,,,,,,,,
2022-03-07,Coinbase,BTC/USD,37161.88,39556.58,38406.82,37994.00,19544.284149,7.425655e+08
2022-03-06,Coinbase,BTC/USD,38091.02,39730.50,39407.87,38408.38,10099.985452,3.879241e+08
2022-03-05,Coinbase,BTC/USD,38587.27,39600.00,39166.50,39402.43,8440.516389,3.325769e+08
2022-03-04,Coinbase,BTC/USD,38577.01,42524.87,42464.41,39166.51,24080.605994,9.431533e+08
2022-03-03,Coinbase,BTC/USD,41811.00,44096.45,43916.47,42464.41,19278.282247,8.186409e+08

In [11]:
df_export = df.copy()
df_export.to_csv(f'./Data/Coinbase/21-22Coinbase_{coin}_d.csv')